<% provide(:title, "Contact") %>
  <br/><br/><br/>
  <h1>Contact Us</h1>
    <p class=".contact">
      For more information email us at
      info@shoesforsouls.com or call us
      at 843-123-4567.
    </p>
  <br/><br/><br/>
  <%= image_tag("feet-716257_1920.jpg", alt: "kids shoes", id: "bg") %>