<% provide(:title, "Events") %>
<h1>Events</h1>


<div class="card">
  <div class="cardcontainer">
    <table>
      <tr>
        <td colspan="5">
          <h1>River Shoe Run</h1>
            <p>
              <b>Length: </b> 4k <br/>
              <b>Date: </b> June 19th <br/>
              <b>Location: </b> River Trail <br/>
            </p>
            <%= link_to "Sign Up", "more_events", class: "btn btn-lg btn-primary" %>
          </td>
          <td colspan="1">
             <%= image_tag("run-location-1.jpg", alt: "people running", class: "cardimg") %>
          </td>
      </tr>
    </table>

      <!--  <h1>River Shoe Run</h1>-->
      <!--    <p>-->
      <!--      <b>Length: </b> 4k <br/>-->
      <!--      <b>Date: </b> June 19th <br/>-->
      <!--      <b>Location: </b> River Trail <br/>-->
      <!--    </p>-->
      <!--<%= link_to "Sign Up", "more_events", class: "btn btn-lg btn-primary" %>-->
      <!-- <%= image_tag("run-location-1.jpg", alt: "people running", class: "cardimg") %>-->
   </div>
</div>


<!--<h2>River Shoe Run</h2>-->
<!--<p>-->
<!--  <b>Length: </b> 4k <br/>-->
<!--  <b>Date: </b> June 19th <br/>-->
<!--  <b>Location: </b> River Trail <br/>-->
<!--</p>-->
<!--<h3>Sign Up</h3>-->

<!--<h2>River Shoe Run</h2>-->
<!--<p>-->
<!--  <b>Length: </b> 4k <br/>-->
<!--  <b>Date: </b> June 19th <br/>-->
<!--  <b>Location: </b> River Trail <br/>-->
<!--</p>-->
<!--<h3>Sign Up</h3>-->

<!--<h2>River Shoe Run</h2>-->
<!--<p>-->
<!--  <b>Length: </b> 4k <br/>-->
<!--  <b>Date: </b> June 19th <br/>-->
<!--  <b>Location: </b> River Trail <br/>-->
<!--</p>-->
<!--<h3>Sign Up</h3>-->
