<% provide(:title, "Events") %>
<h1>Events</h1>
<h2>River Shoe Run</h2>
<p>
  <b>Length: </b> 4k <br/>
  <b>Date: </b> June 19th <br/>
  <b>Location: </b> River Trail <br/>
</p>
<h3>Sign Up</h3>

<h2>River Shoe Run</h2>
<p>
  <b>Length: </b> 4k <br/>
  <b>Date: </b> June 19th <br/>
  <b>Location: </b> River Trail <br/>
</p>
<h3>Sign Up</h3>

<h2>River Shoe Run</h2>
<p>
  <b>Length: </b> 4k <br/>
  <b>Date: </b> June 19th <br/>
  <b>Location: </b> River Trail <br/>
</p>
<h3>Sign Up</h3>

<h2>River Shoe Run</h2>
<p>
  <b>Length: </b> 4k <br/>
  <b>Date: </b> June 19th <br/>
  <b>Location: </b> River Trail <br/>
</p>
<h3>Sign Up</h3>
