<% provide(:title, "Events") %>
<h1>Events</h1>


<div class="card">
  <div class="container">
  <h3>River Shoe Run</h3>
  <p>Length: 5k</p>

    <p>Architect & Engineer</p>
   </div>
  <img src="img_avatar.png" alt="Avatar" class="cardimg" >
</div>


<h2>River Shoe Run</h2>
<p>
  <b>Length: </b> 4k <br/>
  <b>Date: </b> June 19th <br/>
  <b>Location: </b> River Trail <br/>
</p>
<h3>Sign Up</h3>

<h2>River Shoe Run</h2>
<p>
  <b>Length: </b> 4k <br/>
  <b>Date: </b> June 19th <br/>
  <b>Location: </b> River Trail <br/>
</p>
<h3>Sign Up</h3>

<h2>River Shoe Run</h2>
<p>
  <b>Length: </b> 4k <br/>
  <b>Date: </b> June 19th <br/>
  <b>Location: </b> River Trail <br/>
</p>
<h3>Sign Up</h3>

<h2>River Shoe Run</h2>
<p>
  <b>Length: </b> 4k <br/>
  <b>Date: </b> June 19th <br/>
  <b>Location: </b> River Trail <br/>
</p>
<h3>Sign Up</h3>
