<% provide(:title, "Home") %>
<header>

<!--gets font used -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,500;1,400&display=swap" rel="stylesheet">

</header>
<!--<div id="bannerimage"></div>-->
<%= image_tag("martins-zemlickis-NPFu4GfFZ7E-unsplash.jpg", alt: "people running", id: "bg") %>
<h1>Run for Shoes Run for Life</h1>

<h2>Our Mission</h2>
  <p>
    We want to supply shoes for kids. For every mile, a person runs
    we donate one pair of shoes to a child in need of shoes. We
    believe that every child should have a pair of shoes to wear.
    We not only provide children with shoes, we also provide them
    with the Truth. Each place we go we share the Gospel with the
    children we meet.
  </p>
