<% provide(:title, "More Events") %>
<h1>Map</h1>
<%= image_tag("Map.png", alt: "Map", width: "100%" ) %>
 <h1>River Shoe Run</h1>
        <h4>
          <b>Length: </b> 4k <br/>
          <b>Date: </b> June 19th <br/>
          <b>Location: </b> River Trail <br/>
        </h4>
<%= link_to "Sign Up", "/signup", class: "btn btn-lg btn-primary" %>