<% provide(:title, "Registration") %>
<h1>Register</h1>
<p>
  <b>Name: </b>   * <br/>
  <b>Username: </b>   * <br/>
  <b>Password: </b>   * <br/>
  <b>Re-enter Password: </b>   * <br/>
  <b>Email: </b>   * <br/>
  <b>Age: </b>   * <br/>
  <b>Phone Number: </b>   * <br/>
  <b>Emergency Phone Number: </b>   * <br/>
  <b>Team Name: </b><br/>
</p>
