<% provide(:title, "Registration") %>
<h1>Register</h1>
<p>
  <b>Name: </b>   *<input type="text" id="name" name="name"><br/>
  <b>Password: </b>   *<input type="password" id="password" name="password"><br/>
  <b>Re-enter Password: </b>   *<input type="password" id="password" name="password"><br/>
  <b>Email: </b>   *<input type="text" id="email" name="email"><br/>
  <b>Age: </b>   *<input type="number" id="age" name="age"><br/>
  <b>Phone Number: </b>   *<input type="tel" id="phone" name="phone"><br/>
  <b>Emergency Phone Number: </b>   *<input type="tel" id="emergency" name="emergency"><br/>
  <b>Team Name: </b><input type="text" id="team" name="team"><br/>
  <input type="submit" value="Register">
</p>
