<footer class="footer">

 <small>
  Soles for Souls | Helping Souls One Sole At A Time
 </small>
 <nav>
   <ul>
     <li><%= link_to "Events", events_path %></li>
     <li><%= link_to "Contact", contact_path %></li>
   </ul>
 </nav>
</footer>